@import url("https://rotyflo.github.io/css/theme.css");

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 500px;
    margin: auto;
}

#session-length, #break-length {
    pointer-events: none;
}

#time-left {
    font-size: 1.5em;
    padding: 20px;
}

#timer-label {
    background-color: var(--font-color);
    color: var(--background-color);
}

.terminal-card {
    text-align: center;
    width: 99.5%;
    border-color: var(--font-color);
}

.btn-group.controls > * {
    width: 50%;
    margin: 0;
    border-top: 0;
}

.btn-group.settings > * {
    width: 33.3%;
}